<div>
	<a href="#" class="dialogClose J-dialogClose"></a>
	<div><%= md['msg']%></div>
	<p>
    <% if(md['buttons']){ %>
    <div class="tagC">
        <%for(var i=0;i<md['buttons'].length;i++){%>
        <button class="box aTagButton orangeButton J-dialogButton <%= md['buttons'][i][1]%>">
            <%= md['buttons'][i][0]%>
        </button>
        <%}%>
    </div>
    <% }%>
	</p>
</div>