.tag{
	margin-top: 26px;
}

.taobao .tag:first-child{
	margin-top: 58px;
}

.noticBody{
	font-size: 30px;
	height: 370px;
	background: url(../images/noticeBodyBg.jpg?vv=123) no-repeat;
	color: #fff;
	padding: 90px 67px;
	line-height: 38px;
}

.noticBody img{
	margin-top: -6px;
}

.orangePoint{
	width: 15px;
	height: 15px;
	display: inline-block;
	border-radius: 50%;
	position: absolute;
	left: 0;
	top:7px;
	background: -webkit-gradient(linear,0 0,0 100%,from(#eb5b2c),to(#eb5b2c));
}

.step2 li,.step4 li{
	position: relative;
	font-size: 28px;
	padding-left: 25px;
	margin-top: 50px;
}

.step2 .aTagButton{
	margin-top: 40px;
}

.blockLable{
	display: block;
	padding:20px 0;
}

.step3 .tag:first-child{
	margin-top: 20px;
}

.step3 .tag:nth-child(2){
	margin-top: 60px;
}

.step4 li{
	color: #e3643c;
	padding-left: 35px;
	position: relative;
}

.step4 .orangePoint{
	background: url(../images/tip.png?vv=123) no-repeat;
	width: 38px;
	height: 38px;
	top:1px;
}

.step4 li img{
	position: absolute;
	left: 0;
	top:0;
	width: 32px;
}

.step4Error .aTagButton{
	width: 170px;
	margin-right: 34px;
	float: left;
}

.step4Error .aTagButton:last-child{
	float: right;
	margin-right: 0;
}

.stepEnd .tag{
	margin-top: 80px;
}

.stepEnd .tag:nth-child(2){
	margin-top: 50px;
}

.dialog-rebind .dialog{
	width: 540px;
	margin-left: -270px;
}

.dialog-rebind .aTagButton{
	width: auto;
	height: auto;
	line-height: inherit;
	padding:10px 25px;
}

.dialog-rebind .aTagButton:last-child{
	margin-left: 20px;
}

/*--------*/
.newstep{
	background:  #D9D9D9;
}

.newstep .noticBody{
	padding-bottom: 0;
	background-color: #F3F3F3;
}

.newFooter{
	position: relative;
}

.new .toNext{
	position: absolute;
	left: 62px;
	top: 70px;
	height: 160px;
	width: 520px;
}

.new .toNextA{
	display: block;
	float: left;
	width: 160px;
	margin-right: 18px;
	height: 100%;
	border-radius: 50%;
}

.new .toNextA:last-child{
	margin-right: 0;
}



.new-step2 li{
	position: relative;
	font-size: 28px;
	padding-left: 25px;
	margin-top: 10px;
}


