<div class="dContent">
    <div class="tagB"><img src="images/tip.png?vv=123" class="middle tipImg"/>
        该手机号已经绑定其它口袋帐号，您可以选择以下操作：<br/>
        1、请使用其它手机号升级；<br/>
        2、将该手机号内收藏数据和第三方帐号收藏数据进行合并，合并后该手机号将作为口袋登陆帐号，直接使用该手机登陆口袋即可
        <p class="center" style="margin-top: 20px;">
            <button class="aTagButton orangeButton dialogButton">进行帐号数据合并</button>
            <button class="aTagButton orangeButton dialogButton J-close">取消</button>
        </p>
    </div>
</div>
<a href="#" class="close J-close"></a>